footer.page-footer
      .page-footer__adress
        | &#1075;. &#1057;&#1072;&#1085;&#1082;&#1090;-&#1055;&#1077;&#1090;&#1077;&#1088;&#1073;&#1091;&#1088;&#1075; &#1055;&#1088;&#1080;&#1084;&#1086;&#1088;&#1089;&#1082;&#1086;&#1077; &#1096;.600
      .page-footer__social-logo
        a.main-logo(href="")
          span
            | Green
          img(src="img/logo.png", alt="")
          span
            | valley
        ul.social-links
          li.social-links__item
            a(href="")
              img(src="img/vk-footer.jpg")
          li.social-links__item
            a(href="")
              img(src="img/instagram-footer.jpg")
          li.social-links__item
            a(href="")
              img(src="img/fb-footer.jpg")
      .page-footer__contacts
        | +7 812 777-55-88 info@greenvalley.ru
script(type="text/javascript", src="js/jquery-2.1.4.min.js")
script(type="text/javascript", src="js/jquery-ui.min.js")
script(type="text/javascript", src="js/owl.carousel.js")
script(type="text/javascript", src="js/script.js")