footer.page-footer
      .page-footer__adress
        | г. Санкт-Петербург Приморское ш.600
      .page-footer__social-logo
        a.main-logo(href="")
          span
            | Green
          img(src="img/logo.png", alt="")
          span
            | valley
        ul.social-links
          li.social-links__item
            a(href="")
              img(src="img/vk-footer.jpg")
          li.social-links__item
            a(href="")
              img(src="img/instagram-footer.jpg")
          li.social-links__item
            a(href="../Green-valley-master/index.html")
              img(src="img/fb-footer.jpg")
      .page-footer__contacts
        | +7 812 777-55-88 info@greenvalley.ru
script(type="text/javascript", src="js/jquery-2.1.4.min.js")
script(type="text/javascript", src="js/jquery-ui.min.js")
script(type="text/javascript", src="js/owl.carousel.js")
script(type="text/javascript", src="js/script.js")