header.page-header
      .page-header__inner
        .page-header__logo-burger
          .page-header__logo
            a.main-logo(href="../Green-valley-master/index.html")
              span
                | Green
              img(src="img/logo.png", alt="")
              span
                | valley
          .page-header__burger
            a#burger(href="")
        nav.page-header__nav
          ul.page-header__nav-list
            li.page-header__nav-item
              a(href="../Green-valley-master/room-list.html")
                | Номера
                span
            li.page-header__nav-item
              a(href="../Green-valley-master/cottage.html")
                | Коттедж
                span
            li.page-header__nav-item
              a(href="../Green-valley-master/index.html#healthy-holidays")
                | Отдых
                span
            li.page-header__nav-item
              a(href="../Green-valley-master/index.html#reviews")
                | Отзывы
                span
            li.page-header__nav-item
              a(href="../Green-valley-master/index.html#location")
                | Контакты
                span
        .page-header__contacts
          .page-header__phone
            | + 7 812 777-55-88
          | г. Санкт-Петербург, Приморское ш.600
        a(href="../Green-valley-master/form.html")
          button.btn.btn--orange
            | Забронировать