doctype html
html(lang="en")
  include ./jade/head.jade
  body
    include ./jade/header.jade
    section.single-room
      h1.single-room__title
        | Коттедж
      .single-room__price
        | ОТ
        span
          | 6800
        | РУБ./СУТКИ
      .single-room__description
        #room-gallery-carousel.single-room__description-img-wrapper
          img.single-room__description-img(src="img/cottage-gallery.jpg")
          img.single-room__description-img(src="img/thumbnail-4.jpg")
          img.single-room__description-img(src="img/cottage-gallery2.jpg")
        .single-room__description-zoom
        span.single-room__description-prev
        span.single-room__description-next
        ul.single-room__description-list
          li.single-room__description-item
            h2.single-room__description-item-title
              | О коттедже
            p.single-room__description-item-text
              | В коттедже 3-4 спальни. Площадь коттеджа от 65 до 80 кв.м. Рассчитаны
              br
              | на проживание 6-8 человек. Часть комнат с видом на Финский залив.
          li.single-room__description-item
            h2.single-room__description-item-title
              | Удобства
            .single-room__facilities
              ul.single-room__facilities-list
                li.single-room__facilities-item
                  .list-style
                  | WI-FI
                li.single-room__facilities-item
                  .list-style
                  | Двуспальные кровати
                li.single-room__facilities-item
                  .list-style
                  | Удобные кресла
                li.single-room__facilities-item
                  .list-style
                  | Раскладывающийся диван
                li.single-room__facilities-item
                  .list-style
                  | Фен
              ul.single-room__facilities-list
                li.single-room__facilities-item
                  .list-style
                  | Рабочий стол
                li.single-room__facilities-item
                  .list-style
                  | Шкафы для одежды
                li.single-room__facilities-item
                  .list-style
                  | Багажные тумбы
                li.single-room__facilities-item
                  .list-style
                  | Сейф
          li.single-room__description-item
            h2.single-room__description-item-title
              | В стоимость входит:
            ul.single-room__included
              li.single-room__included-item
                .list-style
                | Бассейн с 8.30 до 10.00
              li.single-room__included-item
                .list-style
                | Завтрак и обед «шведский стол» в отеле
      a(href="../Green-valley-master/form.html")
          button.btn.btn--orange
            | Забронировать
      .single-room__price
        | ОТ
        span
          | 6800
        | РУБ./СУТКИ
    include ./jade/footer.jade
    .img-fullscreen
      img(src="")
      .img-fullscreen__close