doctype html
html(lang="en")
  include ./jade/head.jade
  body
    include ./jade/header.jade
    form.main-form(action="#")
      section.reservation
        h1.reservation__title
          | Бронирование
        p.reservation__text
          | Чтобы забронировать номер в отеле или коттедж,
          br
          |  заполните форму ниже или просто позвоните
          br
          |  по телефону:
          span
            | +7 812 777-55-88
      section.date-of-rest
        h3.form-step
          | ШАГ 1
        h2.date-of-rest__title
          | Дата отдыха
        .date-of-rest__container
          .date-of-rest__arrival
            label(for="datepicker-arrival")
              | ДАТА ВЪЕЗДА
            .date-of-rest__inputs.date
              input#datepicker-arrival.date-of-rest__inputs-day.day(type="text", min="1", max="31", pattern="[0-9]{2}", name="dayOfArrival", placeholder="ДД", value="", required="")
              input#arrival-month.date-of-rest__inputs-month.month(type="number", min="1", max="12", pattern="[0-9]{2}", placeholder="ММ", name="mounthOfArrival", value="", required="")
              input#arrival-year.date-of-rest__inputs-year.year(type="number", min="2015", pattern="[0-9]{4}", name="yearOfArrival", placeholder="ГГГГ", value="", required="")
          .date-of-rest__departure
            label(for="datepicker-departure")
              | ДАТА ВЫЕЗДА
            .date-of-rest__inputs.date
              input#datepicker-departure.date-of-rest__inputs-day.day(type="text", min="1", max="31", pattern="[0-9]{2}", name="dayOfDeparture", placeholder="ДД", value="", required="")
              input#departure-month.date-of-rest__inputs-month.month(type="number", min="1", max="12", pattern="[0-9]{2}", name="mounthOfDeparture", placeholder="ММ", value="", required="")
              input#departure-year.date-of-rest__inputs-year.year(type="number", min="2015", pattern="[0-9]{4}", name="yearOfDeparture", placeholder="ГГГГ", value="", required="")
      section.place-to-stay
        h3.form-step
          | ШАГ 2
        h2.place-to-stay__title
          | Место проживания
        .place-to-stay__container
          .place-to-stay__hotel
            label
              input#hotel-input(type="radio", name="placeToStay", checked="checked")
              .place-to-stay__hotel-title
                | ОТЕЛЬ
              img.place-to-stay__img(src="img/hotel.jpg")
              .place-to-stay__check-mark.check-mark
          .place-to-stay__cottage
            label
              input#cottage-input(type="radio", name="placeToStay")
              .place-to-stay__cottage-title
                | КОТТЕДЖ
              img.place-to-stay__img(src="img/cottage.jpg")
              .place-to-stay__check-mark.check-mark
      section.type-of-room
        h3.form-step
          | ШАГ 3
        h2.type-of-room__title
          | Тип номера
        ul.type-of-room__list
          li.type-of-room__item
            label
              input#type-of-room__features-economy(type="radio", name="type-of-room", checked="checked")
              .type-of-room__check-mark.check-mark
              .type-of-room__triangle
              .type-of-room__item-title
                | Эконом
          li.type-of-room__item
            label
              input#type-of-room__features-standard(type="radio", name="type-of-room")
              .type-of-room__check-mark.check-mark
              .type-of-room__triangle
              .type-of-room__item-title
                | Стандарт
          li.type-of-room__item
            label
              input#type-of-room__features-standard-plus(type="radio", name="type-of-room")
              .type-of-room__check-mark.check-mark
              .type-of-room__triangle
              .type-of-room__item-title
                | Стандарт+
          li.type-of-room__item
            label
              input#type-of-room__features-lux(type="radio", name="type-of-room")
              .type-of-room__check-mark.check-mark
              .type-of-room__triangle
              .type-of-room__item-title
                | Люкс
        ul.type-of-room__features
          li.type-of-room__features-economy
            ul.type-of-room__features-list
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/area.jpg")
                | площадь от 16м
                sup
                  | 2
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/rooms.jpg")
                | 1 комната
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/beds.jpg")
                | 2 спальных места
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/bathroom.jpg")
                | раздельный санузел
              li.type-of-room__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/wi-fi.jpg")
                | WI-FI
          li.type-of-room__features-standard
            ul.type-of-room__features-list
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/area.jpg")
                | площадь от 20м
                sup
                  | 2
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/rooms.jpg")
                | 1 комната
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/beds.jpg")
                | 3 спальных места
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/bathroom.jpg")
                | раздельный санузел
              li.type-of-room__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/wi-fi.jpg")
                | WI-FI
          li.type-of-room__features-standard-plus
            ul.type-of-room__features-list
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/area.jpg")
                | площадь от 35м
                sup
                  | 2
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/rooms.jpg")
                | 1 комната
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/beds.jpg")
                | 4 спальных места
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/bathroom.jpg")
                | раздельный санузел
              li.type-of-room__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/wi-fi.jpg")
                | WI-FI
          li.type-of-room__features-lux
            ul.type-of-room__features-list
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/area.jpg")
                | площадь до 40м
                sup
                  | 2
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/rooms.jpg")
                | 2 комнаты
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/beds.jpg")
                | 5 спальных мест
              li.type-of-room__features-item
                .type-of-room__features-item-img-wrapper
                  img(src="img/bathroom.jpg")
                | раздельный санузел
              li.type-of-room__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/wi-fi.jpg")
                | WI-FI
      section.type-of-cottage
        h3.form-step
          | ШАГ 3
        h2.type-of-cottage__title
          | Тип коттеджа
        ul.type-of-cottage__list
          li.type-of-cottage__item
            label
              input#type-of-cottage__features-flagship(type="radio", name="type-of-cottage", checked="checked")
              .type-of-cottage__check-mark.check-mark
              .type-of-cottage__triangle
              .type-of-cottage__item-title
                | флагман
          li.type-of-cottage__item
            label
              input#type-of-cottage__features-lacustrine(type="radio", name="type-of-cottage")
              .type-of-cottage__check-mark.check-mark
              .type-of-cottage__triangle
              .type-of-cottage__item-title
                | озерный
          li.type-of-cottage__item
            label
              input#type-of-cottage__features-alder(type="radio", name="type-of-cottage")
              .type-of-cottage__check-mark.check-mark
              .type-of-cottage__triangle
              .type-of-cottage__item-title
                | ольховка
          li.type-of-cottage__item
            label
              input#type-of-cottage__features-port(type="radio", name="type-of-cottage")
              .type-of-cottage__check-mark.check-mark
              .type-of-cottage__triangle
              .type-of-cottage__item-title
                | портовый
        ul.type-of-cottage__features
          li.type-of-cottage__features-flagship
            ul.type-of-cottage__features-list
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/area.jpg")
                | площадь 100м
                sup
                  | 2
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/rooms.jpg")
                | 3 комнаты
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/beds.jpg")
                | 5 спальных мест
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/bathroom.jpg")
                | раздельный санузел
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/wi-fi.jpg")
                | WI-FI
          li.type-of-cottage__features-lacustrine
            ul.type-of-cottage__features-list
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/area.jpg")
                | площадь 210м
                sup
                  | 2
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/rooms.jpg")
                | 5 комнат
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/beds.jpg")
                | 8 спальных мест
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/bathroom.jpg")
                | раздельный санузел
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/wi-fi.jpg")
                | WI-FI
          li.type-of-cottage__features-alder
            ul.type-of-cottage__features-list
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/area.jpg")
                | площадь 320м
                sup
                  | 2
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/rooms.jpg")
                | 7 комнат
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/beds.jpg")
                | 9 спальных мест
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/bathroom.jpg")
                | раздельный санузел
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/wi-fi.jpg")
                | WI-FI
          li.type-of-cottage__features-port
            ul.type-of-cottage__features-list
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/area.jpg")
                | площадь 140м
                sup
                  | 2
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/rooms.jpg")
                | 8 комнат
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/beds.jpg")
                | 11 спальных мест
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/bathroom.jpg")
                | раздельный санузел
              li.type-of-cottage__features-item
                .type-of-cottage__features-item-img-wrapper
                  img(src="img/wi-fi.jpg")
                | WI-FI
      section.personal-data
        h3.form-step
          | ШАГ 4
        h2.personal-data__title
          | Персональная информация
        ul.personal-data__list
          li
            .personal-data__check-mark.check-mark
            input(type="text", name="firstName", placeholder="имя", required="")
          li
            .personal-data__check-mark.check-mark
            input(type="text", name="lastName", placeholder="фамилия", required="")
          li
            .personal-data__check-mark.check-mark
            .personal-data__error.error
            input#phone-number(type="tel", name="phoneNumber", placeholder="номер телефона", pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$", required="")
            label(for="phone-number")
              div
                | Мы свяжемся с вами в случае необходимости.
          li
            .personal-data__check-mark.check-mark
            .personal-data__error.error
            input#form-email(type="email", name="email", placeholder="e-mail", required="")
            label(for="email")
              div
                | На этот адрес мы вышлем вам подтверждение о забронированном номере.
      section.payment
        h3.form-step
          | ШАГ 5
        h2.payment__title
          | Способ оплаты
        .payment__container
          .payment__to-pay
            .payment__to-pay-title
              | К оплате
            span.payment__to-pay-price
              | -
            .payment__to-pay-warning
              .payment__to-pay-warning-exclamation
                | !
              | Пожалуйста,
              a.payment__to-pay-warning-date(href="#datepicker-arrival")
                |  выберите дату
              |  въезда и выезда, чтоыб увидеть сумму к оплате
          .payment__type-of-payment
            .payment__on-arrival
              label
                input#on-arrival(type="radio", name="payment")
                .payment__on-arrival-check-mark.check-mark.check-mark--gray
                .payment__on-arrival-title
                  | По приезду
                .payment__on-arrival-description
                  | Вы можете произвести оплату по факту заселения.
            .payment__now
              label.payment__now-inner
                .payment__now-header
                  input#pay-now(type="radio", name="payment", checked="checked")
                  .payment__now-check-mark.check-mark.check-mark--gray
                  .payment__now-title
                    | Сейчас
                  .payment__now-description
                    | Прямо сейчас вы можете произвести оплату с помощью банковской карты.
                .payment__card
                  label(for="card-number")
                    | номер карты
                    input#card-number.payment__card-number(type="text", name="cardNumber", placeholder="0000 0000 0000 0000")
                  label(for="owner-name")
                    | имя и фамилия владельца карты
                    input#owner-name.payment__card-name(type="text", name="owneName", placeholder="vladimir vladimirov")
                  label(for="cvv")
                    | код cvv
                    input#cvv.payment__card-cvv(type="text", name="cvv", placeholder="123")
                  label(for="valid-thru")
                    | действует до
                    input#valid-thru.payment__card-thru(type="text", name="validThru", placeholder="01/2018")
      .reservation-form-btn
        button
          | Забронировать
    include ./jade/footer.jade