doctype html
html(lang="en")
  include ./jade/head.jade
  body
    include ./jade/header.jade
    section.promo-slider
      .promo-slider__wrapper
        #slide-1.promo-slider__item.promo-slider__item--active
          img(src="img/promo-slider.jpg")
          h1.promo-slider__item-title
            span
              | Семейный отдых на берегу
            br
            span
              | Финского залива
          p.promo-slider__item-text
            span
              | Green Valley - это современная база отдыха
            span
              | в курортном районе для здорового отдыха всей семьей.
        #slide-2.promo-slider__item
          img(src="img/promo-slider2.jpg")
          h1.promo-slider__item-title
            span
              | Корпоративный отдых на берегу
            br
            span
              | Финского залива
          p.promo-slider__item-text
            span
              | Green Valley - это современная база отдыха
            span
              | в курортном районе для здорового отдыха всей корпорацией.
      ul.promo-slider__paginator
        li.promo-slider__paginator-item.promo-slider__paginator-item--active
          a(href="#slide-1")
            | Семейный отдых
          span
        li.promo-slider__paginator-item
          a(href="#slide-2")
            | Корпоративный
          span
    section#healthy-holidays.healthy-holidays
      .healthy-holidays__inner
        h2.healthy-holidays__title
          | Здоровый отдых
        p.healthy-holidays__text
          | Плавайте в бассейне, играйте в волейбол, футбол и другие игры. Устройте семейный пикник с шашлыками или снимите напряжение в бане или спа.
        p.healthy-holidays__text.healthy-holidays__text-hidden
          | Почувствуйте отдых!
        ul.healthy-holidays__list
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/pool.png")
              | Бассейн
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/sport.png")
              | Спортивная площадка
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/billiards.png")
              | Бильярд
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/spa.png")
              | СПА
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/baths.png")
              | Бани
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/animation.png")
              | Анимация
    section.gallery
      .gallery__inner
        .gallery__showed
          img#gallery__main-img.gallery__showed-img(src="img/thumbnail-4.jpg")
        ul#gallery-carousel.gallery__thumbnails.owl-carousel
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-1.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-2.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-3.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-4.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-5.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-6.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-7.jpg")
    section#reviews.reviews
      h2.reviews__title
        | Отзывы
      .reviews__list
        .reviews__list-inner
          .reviews__showed.reviews__showed-first
            blockquote.reviews__blockquote.reviews__blockquote--first
              .reviews__avatar
                img(src="img/avatar-1.jpg")
              span.reviews__name
                | Екатерина В.
              .reviews__social
                a(href="vk.com")
                  img(src="img/vk.jpg", alt="")
              p.reviews__text
                | Наша семья счастлива, что открыла для себя Green Valley. Замечательный, комфортный отдых. Хорошее место, приветливый персонал, вкусная еда. Стали постоянными гостями!
              p.reviews__date
                | Дата отдыха:
                br
                | 01.06.2015-08.06.2015
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-2.jpg")
              span.reviews__name
                | Анастасия Д.
              .reviews__social
                a(href="vk.com")
                  img(src="img/fb.jpg", alt="")
              p.reviews__text
                | Спасибо всем без исключения сотрудникам отеля за прекрасные дни, проведённые у вас! Наслаждались тишиной, отдохнули прекрасно. Понравилось всё: тёплый приём персоналом.
              p.reviews__date
                | Дата отдыха:
                br
                | 01.06.2015-08.06.2015
          .reviews__showed
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-1.jpg")
              span.reviews__name
                | Екатерина В.
              .reviews__social
                a(href="vk.com")
                  img(src="img/vk.jpg", alt="")
              p.reviews__text
                | Наша семья счастлива, что открыла для себя Green Valley. Замечательный, комфортный отдых. Хорошее место, приветливый персонал, вкусная еда. Стали постоянными гостями!
              p.reviews__date
                | Дата отдыха:
                br
                | 01.06.2015-08.06.2015
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-2.jpg")
              span.reviews__name
                | Анастасия Д.
              .reviews__social
                a(href="vk.com")
                  img(src="img/fb.jpg", alt="")
              p.reviews__text
                | Спасибо всем без исключения сотрудникам отеля за прекрасные дни, проведённые у вас! Наслаждались тишиной, отдохнули прекрасно. Понравилось всё: тёплый приём персоналом.
              p.reviews__date
                | Дата отдыха:
                br
                | 01.06.2015-08.06.2015
          .reviews__showed
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-1.jpg")
              span.reviews__name
                | Екатерина В.
              .reviews__social
                a(href="vk.com")
                  img(src="img/vk.jpg", alt="")
              p.reviews__text
                | Наша семья счастлива, что открыла для себя Green Valley. Замечательный, комфортный отдых. Хорошее место, приветливый персонал, вкусная еда. Стали постоянными гостями!
              p.reviews__date
                | Дата отдыха:
                br
                | 01.06.2015-08.06.2015
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-2.jpg")
              span.reviews__name
                | Анастасия Д.
              .reviews__social
                a(href="vk.com")
                  img(src="img/fb.jpg", alt="")
              p.reviews__text
                | Спасибо всем без исключения сотрудникам отеля за прекрасные дни, проведённые у вас! Наслаждались тишиной, отдохнули прекрасно. Понравилось всё: тёплый приём персоналом.
              p.reviews__date
                | Дата отдыха:
                br
                | 01.06.2015-08.06.2015
      span.reviews__prev
      span.reviews__next
      button.btn-green
        | все отзывы
    section.discount
      h2.discount__title
        | Акции и предложения
      #discount-carousel.discount__slider
        .discount__item
          .discount__item-textarea
            h2.discount__item-textarea-title
              | Скидки в мае
            p
              | Забронируйте номер или коттедж любой категории до 31 июня и получите скидку 10%!
        .discount__item
          .discount__item-textarea
            h2.discount__item-textarea-title
              | Скидки в сентябре
            p
              | Забронируйте номер или коттедж любой категории до 31 сентября и получите скидку 20%!
    section#location.location
      h2.location__title
        | Как до нас добраться
      .location__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.305585067397!2d29.641302751580962!3d60.19222554615268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469655a8f7aaa509%3A0x4571dd0a1f950e95!2z0J_RgNC40LzQvtGA0YHQutC-0LUg0YguLCA2MDAsINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk5MDA0!5e0!3m2!1sru!2sru!4v1449016837488", width="1250", height="400", frameborder="0", style="border:0", allowfullscreen="")
      .location__transport
        .location__buses
          span.location__buses-img
          span.location__buses-title
            | Автобусы
          ul.location__buses-list
            li.location__buses-item
              span
                | № 211
              |  от станции метро «Черная речка» до остановки «Санаторий Репино»
            li.location__buses-item
              span
                | № 305К
              |  от станции метро «Старая деревня»
            li.location__buses-item
              span
                | № 680К
              |  от станции метро «Проспект Просвещения»
            li.location__buses-item
              span
                | № 400К
              |  от станции метро «Площадь Ленина»
        .location__electric
          span.location__electric-img
          span.location__electric-title
            | Электропоезд
          ul.location__electric-list
            li.location__electric-item
              | Электропоезд Выборгского направления от Финляндского вокзала Санкт-Петербурга
              br
              | до платформы «Репино»
    section.recomendation
      h2.recomendation__title
        | Где вы хотите отдохнуть?
      ul.recomendation__list
        li.offer
          a.offer__link(href="#")
            img.offer__img.recomendation__list-img(src="img/in-hotel.jpg")
            .offer__wrapper-price
              h2
                | В отеле
              .offer__price
                | ОТ
                span
                  | 4000
                | РУБ./СУТКИ
        li.offer
          a.offer__link(href="#")
            img.offer__img.recomendation__list-img(src="img/in-cottage.jpg")
            .offer__wrapper-price
              h2
                | В коттедже
              .offer__price
                | ОТ
                span
                  | 6800
                | РУБ./СУТКИ
    include ./jade/footer.jade

