doctype html
html(lang="en")
  include ./jade/head.jade
  body
    include ./jade/header.jade
    section.promo-slider
      .promo-slider__wrapper
        #slide-1.promo-slider__item.promo-slider__item--active
          img(src="img/promo-slider.jpg")
          h1.promo-slider__item-title
            span
              | &#1057;&#1077;&#1084;&#1077;&#1081;&#1085;&#1099;&#1081; &#1086;&#1090;&#1076;&#1099;&#1093; &#1085;&#1072; &#1073;&#1077;&#1088;&#1077;&#1075;&#1091;
            br
            span
              | &#1060;&#1080;&#1085;&#1089;&#1082;&#1086;&#1075;&#1086; &#1079;&#1072;&#1083;&#1080;&#1074;&#1072;
          p.promo-slider__item-text
            span
              | Green Valley - &#1101;&#1090;&#1086; &#1089;&#1086;&#1074;&#1088;&#1077;&#1084;&#1077;&#1085;&#1085;&#1072;&#1103; &#1073;&#1072;&#1079;&#1072; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072;
            span
              | &#1074; &#1082;&#1091;&#1088;&#1086;&#1088;&#1090;&#1085;&#1086;&#1084; &#1088;&#1072;&#1081;&#1086;&#1085;&#1077; &#1076;&#1083;&#1103; &#1079;&#1076;&#1086;&#1088;&#1086;&#1074;&#1086;&#1075;&#1086; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072; &#1074;&#1089;&#1077;&#1081; &#1089;&#1077;&#1084;&#1100;&#1077;&#1081;.
        #slide-2.promo-slider__item
          img(src="img/promo-slider.jpg")
          h1.promo-slider__item-title
            span
              | &#1050;&#1086;&#1088;&#1087;&#1086;&#1088;&#1072;&#1090;&#1080;&#1074;&#1085;&#1099;&#1081; &#1086;&#1090;&#1076;&#1099;&#1093; &#1085;&#1072; &#1073;&#1077;&#1088;&#1077;&#1075;&#1091;
            br
            span
              | &#1060;&#1080;&#1085;&#1089;&#1082;&#1086;&#1075;&#1086; &#1079;&#1072;&#1083;&#1080;&#1074;&#1072;
          p.promo-slider__item-text
            span
              | Green Valley - &#1101;&#1090;&#1086; &#1089;&#1086;&#1074;&#1088;&#1077;&#1084;&#1077;&#1085;&#1085;&#1072;&#1103; &#1073;&#1072;&#1079;&#1072; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072;
            span
              | &#1074; &#1082;&#1091;&#1088;&#1086;&#1088;&#1090;&#1085;&#1086;&#1084; &#1088;&#1072;&#1081;&#1086;&#1085;&#1077; &#1076;&#1083;&#1103; &#1079;&#1076;&#1086;&#1088;&#1086;&#1074;&#1086;&#1075;&#1086; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072; &#1074;&#1089;&#1077;&#1081; &#1082;&#1086;&#1088;&#1087;&#1086;&#1088;&#1072;&#1094;&#1080;&#1077;&#1081;.
      ul.promo-slider__paginator
        li.promo-slider__paginator-item.promo-slider__paginator-item--active
          a(href="#slide-1")
            | &#1057;&#1077;&#1084;&#1077;&#1081;&#1085;&#1099;&#1081; &#1086;&#1090;&#1076;&#1099;&#1093;
          span
        li.promo-slider__paginator-item
          a(href="#slide-2")
            | &#1050;&#1086;&#1088;&#1087;&#1086;&#1088;&#1072;&#1090;&#1080;&#1074;&#1085;&#1099;&#1081;
          span
    section.healthy-holidays
      .healthy-holidays__inner
        h2.healthy-holidays__title
          | &#1047;&#1076;&#1086;&#1088;&#1086;&#1074;&#1099;&#1081; &#1086;&#1090;&#1076;&#1099;&#1093;
        p.healthy-holidays__text
          | &#1055;&#1083;&#1072;&#1074;&#1072;&#1081;&#1090;&#1077; &#1074; &#1073;&#1072;&#1089;&#1089;&#1077;&#1081;&#1085;&#1077;, &#1080;&#1075;&#1088;&#1072;&#1081;&#1090;&#1077; &#1074; &#1074;&#1086;&#1083;&#1077;&#1081;&#1073;&#1086;&#1083;, &#1092;&#1091;&#1090;&#1073;&#1086;&#1083; &#1080; &#1076;&#1088;&#1091;&#1075;&#1080;&#1077; &#1080;&#1075;&#1088;&#1099;. &#1059;&#1089;&#1090;&#1088;&#1086;&#1081;&#1090;&#1077; &#1089;&#1077;&#1084;&#1077;&#1081;&#1085;&#1099;&#1081; &#1087;&#1080;&#1082;&#1085;&#1080;&#1082; &#1089; &#1096;&#1072;&#1096;&#1083;&#1099;&#1082;&#1072;&#1084;&#1080; &#1080;&#1083;&#1080; &#1089;&#1085;&#1080;&#1084;&#1080;&#1090;&#1077; &#1085;&#1072;&#1087;&#1088;&#1103;&#1078;&#1077;&#1085;&#1080;&#1077; &#1074; &#1073;&#1072;&#1085;&#1077; &#1080;&#1083;&#1080; &#1089;&#1087;&#1072;.
        p.healthy-holidays__text.healthy-holidays__text-hidden
          | &#1055;&#1086;&#1095;&#1091;&#1074;&#1089;&#1090;&#1074;&#1091;&#1081;&#1090;&#1077; &#1086;&#1090;&#1076;&#1099;&#1093;!
        ul.healthy-holidays__list
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/pool.png")
              | &#1073;&#1072;&#1089;&#1089;&#1077;&#1081;&#1085;
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/sport.png")
              | &#1089;&#1087;&#1086;&#1088;&#1090;&#1080;&#1074;&#1085;&#1072;&#1103; &#1087;&#1083;&#1086;&#1097;&#1072;&#1076;&#1082;&#1072;
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/billiards.png")
              | &#1073;&#1080;&#1083;&#1100;&#1103;&#1088;&#1076;
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/spa.png")
              | &#1089;&#1087;&#1072;
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/baths.png")
              | &#1073;&#1072;&#1085;&#1080;
          li.healthy-holidays__item
            a.healthy-holidays__link(href="")
              img(src="img/animation.png")
              | &#1072;&#1085;&#1080;&#1084;&#1072;&#1094;&#1080;&#1103;
    section.gallery
      .gallery__inner
        .gallery__showed
          img#gallery__main-img.gallery__showed-img(src="img/thumbnail-4.jpg")
        ul#gallery-carousel.gallery__thumbnails.owl-carousel
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-1.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-2.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-3.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-4.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-5.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-6.jpg")
          li.gallery__item
            img.gallery__thumbnail-img(src="img/thumbnail-7.jpg")
    section.reviews
      h2.reviews__title
        | &#1054;&#1090;&#1079;&#1099;&#1074;&#1099;
      .reviews__list
        #reviews-carousel.slider.owl-carousel.carousel
          .reviews__showed
            blockquote.reviews__blockquote.reviews__blockquote--first
              .reviews__avatar
                img(src="img/avatar-1.jpg")
              span.reviews__name
                | &#1045;&#1082;&#1072;&#1090;&#1077;&#1088;&#1080;&#1085;&#1072; &#1042;.
              .reviews__social
                a(href="vk.com")
                  img(src="img/vk.jpg", alt="")
              p.reviews__text
                | &#1053;&#1072;&#1096;&#1072; &#1089;&#1077;&#1084;&#1100;&#1103; &#1089;&#1095;&#1072;&#1089;&#1090;&#1083;&#1080;&#1074;&#1072;, &#1095;&#1090;&#1086; &#1086;&#1090;&#1082;&#1088;&#1099;&#1083;&#1072; &#1076;&#1083;&#1103; &#1089;&#1077;&#1073;&#1103; Green Valley. &#1047;&#1072;&#1084;&#1077;&#1095;&#1072;&#1090;&#1077;&#1083;&#1100;&#1085;&#1099;&#1081;, &#1082;&#1086;&#1084;&#1092;&#1086;&#1088;&#1090;&#1085;&#1099;&#1081; &#1086;&#1090;&#1076;&#1099;&#1093;. &#1061;&#1086;&#1088;&#1086;&#1096;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086;, &#1087;&#1088;&#1080;&#1074;&#1077;&#1090;&#1083;&#1080;&#1074;&#1099;&#1081; &#1087;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;, &#1074;&#1082;&#1091;&#1089;&#1085;&#1072;&#1103; &#1077;&#1076;&#1072;. &#1057;&#1090;&#1072;&#1083;&#1080; &#1087;&#1086;&#1089;&#1090;&#1086;&#1103;&#1085;&#1085;&#1099;&#1084;&#1080; &#1075;&#1086;&#1089;&#1090;&#1103;&#1084;&#1080;!
              p.reviews__date
                | &#1044;&#1072;&#1090;&#1072; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072;:
                br
                | 01.06.2015-08.06.2015
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-2.jpg")
              span.reviews__name
                | &#1045;&#1082;&#1072;&#1090;&#1077;&#1088;&#1080;&#1085;&#1072; &#1042;.
              .reviews__social
                a(href="vk.com")
                  img(src="img/fb.jpg", alt="")
              p.reviews__text
                | &#1057;&#1087;&#1072;&#1089;&#1080;&#1073;&#1086; &#1074;&#1089;&#1077;&#1084; &#1073;&#1077;&#1079; &#1080;&#1089;&#1082;&#1083;&#1102;&#1095;&#1077;&#1085;&#1080;&#1103; &#1089;&#1086;&#1090;&#1088;&#1091;&#1076;&#1085;&#1080;&#1082;&#1072;&#1084; &#1086;&#1090;&#1077;&#1083;&#1103; &#1079;&#1072; &#1087;&#1088;&#1077;&#1082;&#1088;&#1072;&#1089;&#1085;&#1099;&#1077; &#1076;&#1085;&#1080;, &#1087;&#1088;&#1086;&#1074;&#1077;&#1076;&#1105;&#1085;&#1085;&#1099;&#1077; &#1091; &#1074;&#1072;&#1089;! &#1053;&#1072;&#1089;&#1083;&#1072;&#1078;&#1076;&#1072;&#1083;&#1080;&#1089;&#1100; &#1090;&#1080;&#1096;&#1080;&#1085;&#1086;&#1081;, &#1086;&#1090;&#1076;&#1086;&#1093;&#1085;&#1091;&#1083;&#1080; &#1087;&#1088;&#1077;&#1082;&#1088;&#1072;&#1089;&#1085;&#1086;. &#1055;&#1086;&#1085;&#1088;&#1072;&#1074;&#1080;&#1083;&#1086;&#1089;&#1100; &#1074;&#1089;&#1105;: &#1090;&#1105;&#1087;&#1083;&#1099;&#1081; &#1087;&#1088;&#1080;&#1105;&#1084; &#1087;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1086;&#1084;.
              p.reviews__date
                | &#1044;&#1072;&#1090;&#1072; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072;:
                br
                | 01.06.2015-08.06.2015
          .reviews__showed
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-1.jpg")
              span.reviews__name
                | &#1045;&#1082;&#1072;&#1090;&#1077;&#1088;&#1080;&#1085;&#1072; &#1042;.
              .reviews__social
                a(href="vk.com")
                  img(src="img/vk.jpg", alt="")
              p.reviews__text
                | &#1053;&#1072;&#1096;&#1072; &#1089;&#1077;&#1084;&#1100;&#1103; &#1089;&#1095;&#1072;&#1089;&#1090;&#1083;&#1080;&#1074;&#1072;, &#1095;&#1090;&#1086; &#1086;&#1090;&#1082;&#1088;&#1099;&#1083;&#1072; &#1076;&#1083;&#1103; &#1089;&#1077;&#1073;&#1103; Green Valley. &#1047;&#1072;&#1084;&#1077;&#1095;&#1072;&#1090;&#1077;&#1083;&#1100;&#1085;&#1099;&#1081;, &#1082;&#1086;&#1084;&#1092;&#1086;&#1088;&#1090;&#1085;&#1099;&#1081; &#1086;&#1090;&#1076;&#1099;&#1093;. &#1061;&#1086;&#1088;&#1086;&#1096;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086;, &#1087;&#1088;&#1080;&#1074;&#1077;&#1090;&#1083;&#1080;&#1074;&#1099;&#1081; &#1087;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;, &#1074;&#1082;&#1091;&#1089;&#1085;&#1072;&#1103; &#1077;&#1076;&#1072;. &#1057;&#1090;&#1072;&#1083;&#1080; &#1087;&#1086;&#1089;&#1090;&#1086;&#1103;&#1085;&#1085;&#1099;&#1084;&#1080; &#1075;&#1086;&#1089;&#1090;&#1103;&#1084;&#1080;!
              p.reviews__date
                | &#1044;&#1072;&#1090;&#1072; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072;:
                br
                | 01.06.2015-08.06.2015
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-2.jpg")
              span.reviews__name
                | &#1045;&#1082;&#1072;&#1090;&#1077;&#1088;&#1080;&#1085;&#1072; &#1042;.
              .reviews__social
                a(href="vk.com")
                  img(src="img/fb.jpg", alt="")
              p.reviews__text
                | &#1057;&#1087;&#1072;&#1089;&#1080;&#1073;&#1086; &#1074;&#1089;&#1077;&#1084; &#1073;&#1077;&#1079; &#1080;&#1089;&#1082;&#1083;&#1102;&#1095;&#1077;&#1085;&#1080;&#1103; &#1089;&#1086;&#1090;&#1088;&#1091;&#1076;&#1085;&#1080;&#1082;&#1072;&#1084; &#1086;&#1090;&#1077;&#1083;&#1103; &#1079;&#1072; &#1087;&#1088;&#1077;&#1082;&#1088;&#1072;&#1089;&#1085;&#1099;&#1077; &#1076;&#1085;&#1080;, &#1087;&#1088;&#1086;&#1074;&#1077;&#1076;&#1105;&#1085;&#1085;&#1099;&#1077; &#1091; &#1074;&#1072;&#1089;! &#1053;&#1072;&#1089;&#1083;&#1072;&#1078;&#1076;&#1072;&#1083;&#1080;&#1089;&#1100; &#1090;&#1080;&#1096;&#1080;&#1085;&#1086;&#1081;, &#1086;&#1090;&#1076;&#1086;&#1093;&#1085;&#1091;&#1083;&#1080; &#1087;&#1088;&#1077;&#1082;&#1088;&#1072;&#1089;&#1085;&#1086;. &#1055;&#1086;&#1085;&#1088;&#1072;&#1074;&#1080;&#1083;&#1086;&#1089;&#1100; &#1074;&#1089;&#1105;: &#1090;&#1105;&#1087;&#1083;&#1099;&#1081; &#1087;&#1088;&#1080;&#1105;&#1084; &#1087;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1086;&#1084;.
              p.reviews__date
                | &#1044;&#1072;&#1090;&#1072; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072;:
                br
                | 01.06.2015-08.06.2015
          .reviews__showed
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-1.jpg")
              span.reviews__name
                | &#1045;&#1082;&#1072;&#1090;&#1077;&#1088;&#1080;&#1085;&#1072; &#1042;.
              .reviews__social
                a(href="vk.com")
                  img(src="img/vk.jpg", alt="")
              p.reviews__text
                | &#1053;&#1072;&#1096;&#1072; &#1089;&#1077;&#1084;&#1100;&#1103; &#1089;&#1095;&#1072;&#1089;&#1090;&#1083;&#1080;&#1074;&#1072;, &#1095;&#1090;&#1086; &#1086;&#1090;&#1082;&#1088;&#1099;&#1083;&#1072; &#1076;&#1083;&#1103; &#1089;&#1077;&#1073;&#1103; Green Valley. &#1047;&#1072;&#1084;&#1077;&#1095;&#1072;&#1090;&#1077;&#1083;&#1100;&#1085;&#1099;&#1081;, &#1082;&#1086;&#1084;&#1092;&#1086;&#1088;&#1090;&#1085;&#1099;&#1081; &#1086;&#1090;&#1076;&#1099;&#1093;. &#1061;&#1086;&#1088;&#1086;&#1096;&#1077;&#1077; &#1084;&#1077;&#1089;&#1090;&#1086;, &#1087;&#1088;&#1080;&#1074;&#1077;&#1090;&#1083;&#1080;&#1074;&#1099;&#1081; &#1087;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;, &#1074;&#1082;&#1091;&#1089;&#1085;&#1072;&#1103; &#1077;&#1076;&#1072;. &#1057;&#1090;&#1072;&#1083;&#1080; &#1087;&#1086;&#1089;&#1090;&#1086;&#1103;&#1085;&#1085;&#1099;&#1084;&#1080; &#1075;&#1086;&#1089;&#1090;&#1103;&#1084;&#1080;!
              p.reviews__date
                | &#1044;&#1072;&#1090;&#1072; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072;:
                br
                | 01.06.2015-08.06.2015
            blockquote.reviews__blockquote
              .reviews__avatar
                img(src="img/avatar-2.jpg")
              span.reviews__name
                | &#1045;&#1082;&#1072;&#1090;&#1077;&#1088;&#1080;&#1085;&#1072; &#1042;.
              .reviews__social
                a(href="vk.com")
                  img(src="img/fb.jpg", alt="")
              p.reviews__text
                | &#1057;&#1087;&#1072;&#1089;&#1080;&#1073;&#1086; &#1074;&#1089;&#1077;&#1084; &#1073;&#1077;&#1079; &#1080;&#1089;&#1082;&#1083;&#1102;&#1095;&#1077;&#1085;&#1080;&#1103; &#1089;&#1086;&#1090;&#1088;&#1091;&#1076;&#1085;&#1080;&#1082;&#1072;&#1084; &#1086;&#1090;&#1077;&#1083;&#1103; &#1079;&#1072; &#1087;&#1088;&#1077;&#1082;&#1088;&#1072;&#1089;&#1085;&#1099;&#1077; &#1076;&#1085;&#1080;, &#1087;&#1088;&#1086;&#1074;&#1077;&#1076;&#1105;&#1085;&#1085;&#1099;&#1077; &#1091; &#1074;&#1072;&#1089;! &#1053;&#1072;&#1089;&#1083;&#1072;&#1078;&#1076;&#1072;&#1083;&#1080;&#1089;&#1100; &#1090;&#1080;&#1096;&#1080;&#1085;&#1086;&#1081;, &#1086;&#1090;&#1076;&#1086;&#1093;&#1085;&#1091;&#1083;&#1080; &#1087;&#1088;&#1077;&#1082;&#1088;&#1072;&#1089;&#1085;&#1086;. &#1055;&#1086;&#1085;&#1088;&#1072;&#1074;&#1080;&#1083;&#1086;&#1089;&#1100; &#1074;&#1089;&#1105;: &#1090;&#1105;&#1087;&#1083;&#1099;&#1081; &#1087;&#1088;&#1080;&#1105;&#1084; &#1087;&#1077;&#1088;&#1089;&#1086;&#1085;&#1072;&#1083;&#1086;&#1084;.
              p.reviews__date
                | &#1044;&#1072;&#1090;&#1072; &#1086;&#1090;&#1076;&#1099;&#1093;&#1072;:
                br
                | 01.06.2015-08.06.2015
      span.reviews__prev
      span.reviews__next
      button.btn-green
        | &#1074;&#1089;&#1077; &#1086;&#1090;&#1079;&#1099;&#1074;&#1099;
    section.discount
      h2.discount__title
        | &#1040;&#1082;&#1094;&#1080;&#1080; &#1080; &#1087;&#1088;&#1077;&#1076;&#1083;&#1086;&#1078;&#1077;&#1085;&#1080;&#1103;
      #discount-carousel.discount__slider
        .discount__item
          .discount__item-textarea
            h2.discount__item-textarea-title
              | &#1057;&#1082;&#1080;&#1076;&#1082;&#1080; &#1074; &#1084;&#1072;&#1077;
            p
              | &#1047;&#1072;&#1073;&#1088;&#1086;&#1085;&#1080;&#1088;&#1091;&#1081;&#1090;&#1077; &#1085;&#1086;&#1084;&#1077;&#1088; &#1080;&#1083;&#1080; &#1082;&#1086;&#1090;&#1090;&#1077;&#1076;&#1078; &#1083;&#1102;&#1073;&#1086;&#1081; &#1082;&#1072;&#1090;&#1077;&#1075;&#1086;&#1088;&#1080;&#1080; &#1076;&#1086; 31 &#1080;&#1102;&#1085;&#1103; &#1080; &#1087;&#1086;&#1083;&#1091;&#1095;&#1080;&#1090;&#1077; &#1089;&#1082;&#1080;&#1076;&#1082;&#1091; 10%!
        .discount__item
          .discount__item-textarea
            h2.discount__item-textarea-title
              | &#1057;&#1082;&#1080;&#1076;&#1082;&#1080; &#1074; &#1089;&#1077;&#1085;&#1090;&#1103;&#1073;&#1088;&#1077;
            p
              | &#1047;&#1072;&#1073;&#1088;&#1086;&#1085;&#1080;&#1088;&#1091;&#1081;&#1090;&#1077; &#1085;&#1086;&#1084;&#1077;&#1088; &#1080;&#1083;&#1080; &#1082;&#1086;&#1090;&#1090;&#1077;&#1076;&#1078; &#1083;&#1102;&#1073;&#1086;&#1081; &#1082;&#1072;&#1090;&#1077;&#1075;&#1086;&#1088;&#1080;&#1080; &#1076;&#1086; 31 &#1089;&#1077;&#1085;&#1090;&#1103;&#1073;&#1088;&#1103; &#1080; &#1087;&#1086;&#1083;&#1091;&#1095;&#1080;&#1090;&#1077; &#1089;&#1082;&#1080;&#1076;&#1082;&#1091; 10%!
    section.location
      h2.location__title
        | &#1050;&#1072;&#1082; &#1076;&#1086; &#1085;&#1072;&#1089; &#1076;&#1086;&#1073;&#1088;&#1072;&#1090;&#1100;&#1089;&#1103;
      .location__map
        iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1983.305585067397!2d29.641302751580962!3d60.19222554615268!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469655a8f7aaa509%3A0x4571dd0a1f950e95!2z0J_RgNC40LzQvtGA0YHQutC-0LUg0YguLCA2MDAsINCzLiDQodCw0L3QutGCLdCf0LXRgtC10YDQsdGD0YDQsywgMTk5MDA0!5e0!3m2!1sru!2sru!4v1449016837488", width="1250", height="400", frameborder="0", style="border:0", allowfullscreen="")
      .location__transport
        .location__buses
          span.location__buses-img
          span.location__buses-title
            | &#1040;&#1074;&#1090;&#1086;&#1073;&#1091;&#1089;&#1099;
          ul.location__buses-list
            li.location__buses-item
              span
                | &#8470; 211
              | &#1086;&#1090; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1080; &#1084;&#1077;&#1090;&#1088;&#1086; &#171;&#1063;&#1077;&#1088;&#1085;&#1072;&#1103; &#1088;&#1077;&#1095;&#1082;&#1072;&#187; &#1076;&#1086; &#1086;&#1089;&#1090;&#1072;&#1085;&#1086;&#1074;&#1082;&#1080; &#171;&#1057;&#1072;&#1085;&#1072;&#1090;&#1086;&#1088;&#1080;&#1081; &#1056;&#1077;&#1087;&#1080;&#1085;&#1086;&#187;
            li.location__buses-item
              span
                | &#8470; 305&#1050;
              | &#1086;&#1090; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1080; &#1084;&#1077;&#1090;&#1088;&#1086; &#171;&#1057;&#1090;&#1072;&#1088;&#1072;&#1103; &#1076;&#1077;&#1088;&#1077;&#1074;&#1085;&#1103;&#187;
            li.location__buses-item
              span
                | &#8470; 680&#1050;
              | &#1086;&#1090; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1080; &#1084;&#1077;&#1090;&#1088;&#1086; &#171;&#1055;&#1088;&#1086;&#1089;&#1087;&#1077;&#1082;&#1090; &#1055;&#1088;&#1086;&#1089;&#1074;&#1077;&#1097;&#1077;&#1085;&#1080;&#1103;&#187;
            li.location__buses-item
              span
                | &#8470; 400&#1050;
              | &#1086;&#1090; &#1089;&#1090;&#1072;&#1085;&#1094;&#1080;&#1080; &#1084;&#1077;&#1090;&#1088;&#1086; &#171;&#1055;&#1083;&#1086;&#1097;&#1072;&#1076;&#1100; &#1051;&#1077;&#1085;&#1080;&#1085;&#1072;&#187;
        .location__electric
          span.location__electric-img
          span.location__electric-title
            | &#1069;&#1083;&#1077;&#1082;&#1090;&#1088;&#1086;&#1087;&#1086;&#1077;&#1079;&#1076;
          ul.location__electric-list
            li.location__electric-item
              | &#1069;&#1083;&#1077;&#1082;&#1090;&#1088;&#1086;&#1087;&#1086;&#1077;&#1079;&#1076; &#1042;&#1099;&#1073;&#1086;&#1088;&#1075;&#1089;&#1082;&#1086;&#1075;&#1086; &#1085;&#1072;&#1087;&#1088;&#1072;&#1074;&#1083;&#1077;&#1085;&#1080;&#1103; &#1086;&#1090; &#1060;&#1080;&#1085;&#1083;&#1103;&#1085;&#1076;&#1089;&#1082;&#1086;&#1075;&#1086; &#1074;&#1086;&#1082;&#1079;&#1072;&#1083;&#1072; &#1057;&#1072;&#1085;&#1082;&#1090;-&#1055;&#1077;&#1090;&#1077;&#1088;&#1073;&#1091;&#1088;&#1075;&#1072;
              br
              | &#1076;&#1086; &#1087;&#1083;&#1072;&#1090;&#1092;&#1086;&#1088;&#1084;&#1099; &#171;&#1056;&#1077;&#1087;&#1080;&#1085;&#1086;&#187;
    section.recomendation
      h2.recomendation__title
        | &#1043;&#1076;&#1077; &#1074;&#1099; &#1093;&#1086;&#1090;&#1080;&#1090;&#1077; &#1086;&#1090;&#1076;&#1086;&#1093;&#1085;&#1091;&#1090;&#1100;?
      ul.recomendation__list
        li.offer
          a.offer__link(href="#")
            img.offer__img.recomendation__list-img(src="img/in-hotel.jpg")
            .offer__wrapper-price
              h2
                | &#1042; &#1086;&#1090;&#1077;&#1083;&#1077;
              .offer__price
                | &#1054;&#1058;
                span
                  | 4000
                | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
        li.offer
          a.offer__link(href="#")
            img.offer__img.recomendation__list-img(src="img/in-cottage.jpg")
            .offer__wrapper-price
              h2
                | &#1042; &#1082;&#1086;&#1090;&#1090;&#1077;&#1076;&#1078;&#1077;
              .offer__price
                | &#1054;&#1058;
                span
                  | 6800
                | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
    include ./jade/footer.jade

