doctype html
html(lang="en")
  include ./jade/head.jade
  body
    include ./jade/header.jade
    section.page-caption
      h1.page-caption__title
        span
          | &#1053;&#1086;&#1084;&#1077;&#1088;&#1072; &#1074; &#1086;&#1090;&#1077;&#1083;&#1077;
        span.page-caption__title-green-valley
          | Green Valley
      span.page-caption__text
        | &#1050;&#1086;&#1084;&#1092;&#1086;&#1088;&#1090; &#1080; &#1078;&#1080;&#1074;&#1086;&#1087;&#1080;&#1089;&#1085;&#1099;&#1081; &#1074;&#1080;&#1076; &#1085;&#1072; &#1060;&#1080;&#1085;&#1089;&#1082;&#1080;&#1081; &#1079;&#1072;&#1083;&#1080;&#1074; &#1080; &#1089;&#1086;&#1089;&#1085;&#1086;&#1074;&#1099;&#1081; &#1087;&#1072;&#1088;&#1082;.
      span.page-caption__text
        | 4 &#1101;&#1090;&#1072;&#1078;&#1072; | 70 &#1085;&#1086;&#1084;&#1077;&#1088;&#1086;&#1074;
    section.categories
      h2.categories__title
        | &#1050;&#1072;&#1090;&#1077;&#1075;&#1086;&#1088;&#1080;&#1080;
      ul.categories__list
        li.categories__item
          section.categories__description
            h3.categories__description-title
              | &#1069;&#1082;&#1086;&#1085;&#1086;&#1084;
            .categories__description-price
              | &#1054;&#1058;
              span
                | 3400
              | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
            .categories__description-img-wrapper
              img.categories__description-img(src="img/economy-room.jpg", alt="")
            p.categories__description-text
              | &#1042; &#1086;&#1090;&#1077;&#1083;&#1077; 30 &#1090;&#1072;&#1082;&#1080;&#1093; &#1085;&#1086;&#1084;&#1077;&#1088;&#1086;&#1074; &#1087;&#1083;&#1086;&#1097;&#1072;&#1076;&#1100;&#1102; &#1086;&#1090; 16 &#1076;&#1086; 20 &#1082;&#1074;.&#1084;. &#1056;&#1072;&#1089;&#1089;&#1095;&#1080;&#1090;&#1072;&#1085;&#1099; &#1085;&#1072; &#1087;&#1088;&#1086;&#1078;&#1080;&#1074;&#1072;&#1085;&#1080;&#1077; 1-2 &#1095;&#1077;&#1083;&#1086;&#1074;&#1077;&#1082;.
              br
              | &#1063;&#1072;&#1089;&#1090;&#1100; &#1085;&#1086;&#1084;&#1077;&#1088;&#1086;&#1074; &#1089; &#1074;&#1080;&#1076;&#1086;&#1084; &#1085;&#1072; &#1060;&#1080;&#1085;&#1089;&#1082;&#1080;&#1081; &#1079;&#1072;&#1083;&#1080;&#1074;.
            .categories__description-buttons
              button.btn.btn--orange
                | &#1047;&#1072;&#1073;&#1088;&#1086;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;
              .categories__description-read-more
                a(href="")
                  | &#1055;&#1086;&#1076;&#1088;&#1086;&#1073;&#1085;&#1077;&#1077;
        li.categories__item
          section.categories__description
            h3.categories__description-title
              | &#1057;&#1090;&#1072;&#1085;&#1076;&#1072;&#1088;&#1090;
            .categories__description-price
              | &#1054;&#1058;
              span
                | 4000
              | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
            .categories__description-img-wrapper
              img.categories__description-img(src="img/standard-room.jpg", alt="")
            p.categories__description-text
              | &#1042; &#1086;&#1090;&#1077;&#1083;&#1077; 20 &#1090;&#1072;&#1082;&#1080;&#1093; &#1085;&#1086;&#1084;&#1077;&#1088;&#1086;&#1074;. &#1056;&#1072;&#1089;&#1089;&#1095;&#1080;&#1090;&#1072;&#1085;&#1099; &#1085;&#1072; &#1087;&#1088;&#1086;&#1078;&#1080;&#1074;&#1072;&#1085;&#1080;&#1077; 2-3 &#1095;&#1077;&#1083;&#1086;&#1074;&#1077;&#1082;. &#1055;&#1083;&#1086;&#1097;&#1072;&#1076;&#1100; &#1085;&#1086;&#1084;&#1077;&#1088;&#1072; 20-25 &#1082;&#1074;.&#1084;., &#1089;&#1086;&#1089;&#1090;&#1086;&#1080;&#1090; &#1080;&#1079; &#1075;&#1086;&#1089;&#1090;&#1077;&#1074;&#1086;&#1081; &#1080; &#1089;&#1087;&#1072;&#1083;&#1100;&#1085;&#1086;&#1081; &#1079;&#1086;&#1085;&#1099;.
            .categories__description-buttons
              button.btn.btn--orange
                | &#1047;&#1072;&#1073;&#1088;&#1086;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;
              .categories__description-read-more
                a(href="")
                  | &#1055;&#1086;&#1076;&#1088;&#1086;&#1073;&#1085;&#1077;&#1077;
        li.categories__item
          section.categories__description
            h2.categories__description-title
              | &#1057;&#1090;&#1072;&#1085;&#1076;&#1072;&#1088;&#1090; +
            .categories__description-price
              | &#1054;&#1058;
              span
                | 4500
              | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
            .categories__description-img-wrapper
              img.categories__description-img(src="img/standard-plus-room.jpg", alt="")
            p.categories__description-text
              | &#1042; &#1086;&#1090;&#1077;&#1083;&#1077; 15 &#1090;&#1072;&#1082;&#1080;&#1093; &#1085;&#1086;&#1084;&#1077;&#1088;&#1086;&#1074;. 2-&#1082;&#1086;&#1084;&#1085;&#1072;&#1090;&#1085;&#1099;&#1081; &#1085;&#1086;&#1084;&#1077;&#1088; &#1087;&#1088;&#1077;&#1076;&#1085;&#1072;&#1079;&#1085;&#1072;&#1095;&#1077;&#1085; &#1076;&#1083;&#1103; &#1087;&#1088;&#1086;&#1078;&#1080;&#1074;&#1072;&#1085;&#1080;&#1103; 2-4 &#1095;&#1077;&#1083;&#1086;&#1074;&#1077;&#1082;.
              br
              | &#1055;&#1083;&#1086;&#1097;&#1072;&#1076;&#1100; &#1085;&#1086;&#1084;&#1077;&#1088;&#1072; &#1086;&#1090; 35 &#1082;&#1074;.&#1084;.
            .categories__description-buttons
              button.btn.btn--orange
                | &#1047;&#1072;&#1073;&#1088;&#1086;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;
              .categories__description-read-more
                a(href="")
                  | &#1055;&#1086;&#1076;&#1088;&#1086;&#1073;&#1085;&#1077;&#1077;
        li.categories__item
          section.categories__description
            h2.categories__description-title
              | &#1051;&#1102;&#1082;&#1089;
            .categories__description-price
              | &#1054;&#1058;
              span
                | 5700
              | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
            .categories__description-img-wrapper
              img.categories__description-img(src="img/luxury-room.jpg", alt="")
            p.categories__description-text
              | &#1042; &#1086;&#1090;&#1077;&#1083;&#1077; 5 &#1090;&#1072;&#1082;&#1080;&#1093; &#1085;&#1086;&#1084;&#1077;&#1088;&#1072;. &#1055;&#1088;&#1086;&#1089;&#1090;&#1086;&#1088;&#1085;&#1099;&#1077; &#1085;&#1086;&#1084;&#1077;&#1088;&#1072; &#1087;&#1083;&#1086;&#1097;&#1072;&#1076;&#1100;&#1102; &#1076;&#1086; 40 &#1082;&#1074;.&#1084;. &#1089; &#1074;&#1080;&#1076;&#1086;&#1084; &#1085;&#1072; &#1060;&#1080;&#1085;&#1089;&#1082;&#1080;&#1081; &#1079;&#1072;&#1083;&#1080;&#1074;, &#1074;&#1099;&#1087;&#1086;&#1083;&#1085;&#1077;&#1085; &#1074; &#1086;&#1088;&#1080;&#1075;&#1080;&#1085;&#1072;&#1083;&#1100;&#1085;&#1086;&#1084; c&#1090;&#1080;&#1083;&#1077;.
            .categories__description-buttons
              button.btn.btn--orange
                | &#1047;&#1072;&#1073;&#1088;&#1086;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;
              .categories__description-read-more
                a(href="")
                  | &#1055;&#1086;&#1076;&#1088;&#1086;&#1073;&#1085;&#1077;&#1077;
    include ./jade/footer.jade