doctype html
html(lang="en")
  include ./jade/head.jade
  body
    include ./jade/header.jade
    section.page-caption
      h1.page-caption__title
        span
          | Номера в отеле
        span.page-caption__title-green-valley
          | Green Valley
      span.page-caption__text
        | Комфорт и живописный вид на Финский залив и сосновый парк.
      span.page-caption__text
        | 4 этажа | 70 номеров
    section.categories
      h2.categories__title
        | Категории
      ul.categories__list
        li.categories__item
          section.categories__description
            h3.categories__description-title
              | Эконом
            .categories__description-price
              | ОТ
              span
                | 3400
              | РУБ./СУТКИ
            .categories__description-img-wrapper
              img.categories__description-img(src="img/economy-room.jpg", alt="")
            p.categories__description-text
              | В отеле 30 таких номеров площадью от 16 до 20 кв.м. Рассчитаны на проживание 1-2 человек.
              br
              | Часть номеров с видом на Финский залив.
            .categories__description-buttons
              a(href="../Green-valley-master/form.html")
                button.btn.btn--orange
                  | Забронировать
              .categories__description-read-more
                a(href="../Green-valley-master/single-room.html")
                  | Подробнее
        li.categories__item
          section.categories__description
            h3.categories__description-title
              | Стандарт
            .categories__description-price
              | ОТ
              span
                | 4000
              | РУБ./СУТКИ
            .categories__description-img-wrapper
              img.categories__description-img(src="img/standard-room.jpg", alt="")
            p.categories__description-text
              | В отеле 20 таких номеров. Рассчитаны на проживание 2-3 человек. Площадь номера 20-25 кв.м., состоит из гостевой и спальной зоны.
            .categories__description-buttons
              a(href="../Green-valley-master/form.html")
                button.btn.btn--orange
                  | Забронировать
              .categories__description-read-more
                a(href="../Green-valley-master/single-room.html")
                  | Подробнее
        li.categories__item
          section.categories__description
            h2.categories__description-title
              | Стандарт +
            .categories__description-price
              | ОТ
              span
                | 4500
              | РУБ./СУТКИ
            .categories__description-img-wrapper
              img.categories__description-img(src="img/standard-plus-room.jpg", alt="")
            p.categories__description-text
              | В отеле 15 таких номеров. 2-комнатный номер предназначен для проживания 2-4 человек.
              br
              | Площадь номера от 35 кв.м.
            .categories__description-buttons
              a(href="../Green-valley-master/form.html")
                button.btn.btn--orange
                  | Забронировать
              .categories__description-read-more
                a(href="../Green-valley-master/single-room.html")
                  | Подробнее
        li.categories__item
          section.categories__description
            h2.categories__description-title
              | Люкс
            .categories__description-price
              | ОТ
              span
                | 5700
              | РУБ./СУТКИ
            .categories__description-img-wrapper
              img.categories__description-img(src="img/luxury-room.jpg", alt="")
            p.categories__description-text
              | В отеле 5 таких номера. Просторные номера площадью до 40 кв.м. с видом на Финский залив, выполнен в оригинальном cтиле.
            .categories__description-buttons
              a(href="../Green-valley-master/form.html")
                button.btn.btn--orange
                  | Забронировать
              .categories__description-read-more
                a(href="../Green-valley-master/single-room.html")
                  | Подробнее
    include ./jade/footer.jade