doctype html
html(lang="en")
  include ./jade/head.jade
  body
    include ./jade/header.jade
    section.single-room
      h1.single-room__title
        | &#1069;&#1082;&#1086;&#1085;&#1086;&#1084;
      .single-room__price
        | &#1054;&#1058;
        span
          | 3400
        | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
      .single-room__description
        #room-gallery-carousel.single-room__description-img-wrapper
          img.single-room__description-img(src="img/single-room-gallery.jpg")
          img.single-room__description-img(src="img/single-room-gallery-2.jpg")
        .single-room__description-zoom
        span.single-room__description-prev
        span.single-room__description-next
        ul.single-room__description-list
          li.single-room__description-item
            h2.single-room__description-item-title
              | &#1054; &#1085;&#1086;&#1084;&#1077;&#1088;&#1077;
            p.single-room__description-item-text
              | &#1042; &#1086;&#1090;&#1077;&#1083;&#1077; 30 &#1090;&#1072;&#1082;&#1080;&#1093; &#1085;&#1086;&#1084;&#1077;&#1088;&#1086;&#1074; &#1087;&#1083;&#1086;&#1097;&#1072;&#1076;&#1100;&#1102; &#1086;&#1090; 16 &#1076;&#1086; 20 &#1082;&#1074;.&#1084;. &#1056;&#1072;&#1089;&#1089;&#1095;&#1080;&#1090;&#1072;&#1085;&#1099;
              br
              | &#1085;&#1072; &#1087;&#1088;&#1086;&#1078;&#1080;&#1074;&#1072;&#1085;&#1080;&#1077; 1-2 &#1095;&#1077;&#1083;&#1086;&#1074;&#1077;&#1082;. &#1063;&#1072;&#1089;&#1090;&#1100; &#1085;&#1086;&#1084;&#1077;&#1088;&#1086;&#1074; &#1089; &#1074;&#1080;&#1076;&#1086;&#1084; &#1085;&#1072; &#1060;&#1080;&#1085;&#1089;&#1082;&#1080;&#1081; &#1079;&#1072;&#1083;&#1080;&#1074;.
          li.single-room__description-item
            h2.single-room__description-item-title
              | &#1059;&#1076;&#1086;&#1073;&#1089;&#1090;&#1074;&#1072;
            .single-room__facilities
              ul.single-room__facilities-list
                li.single-room__facilities-item
                  .list-style
                  | WI-FI
                li.single-room__facilities-item
                  .list-style
                  | &#1044;&#1074;&#1091;&#1089;&#1087;&#1072;&#1083;&#1100;&#1085;&#1072;&#1103; &#1082;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;
                li.single-room__facilities-item
                  .list-style
                  | &#1050;&#1088;&#1077;&#1089;&#1083;&#1086;
                li.single-room__facilities-item
                  .list-style
                  | &#1056;&#1072;&#1089;&#1082;&#1083;&#1072;&#1076;&#1099;&#1074;&#1072;&#1102;&#1097;&#1080;&#1081;&#1089;&#1103; &#1076;&#1080;&#1074;&#1072;&#1085;
                li.single-room__facilities-item
                  .list-style
                  | &#1060;&#1077;&#1085;
              ul.single-room__facilities-list
                li.single-room__facilities-item
                  .list-style
                  | &#1056;&#1072;&#1073;&#1086;&#1095;&#1080;&#1081; &#1089;&#1090;&#1086;&#1083;
                li.single-room__facilities-item
                  .list-style
                  | &#1064;&#1082;&#1072;&#1092; &#1076;&#1083;&#1103; &#1086;&#1076;&#1077;&#1078;&#1076;&#1099;
                li.single-room__facilities-item
                  .list-style
                  | &#1041;&#1072;&#1075;&#1072;&#1078;&#1085;&#1072;&#1103; &#1090;&#1091;&#1084;&#1073;&#1072;
                li.single-room__facilities-item
                  .list-style
                  | &#1057;&#1077;&#1081;&#1092;
          li.single-room__description-item
            h2.single-room__description-item-title
              | &#1042; &#1089;&#1090;&#1086;&#1080;&#1084;&#1086;&#1089;&#1090;&#1100; &#1074;&#1093;&#1086;&#1076;&#1080;&#1090;:
            ul.single-room__included
              li.single-room__included-item
                .list-style
                | &#1041;&#1072;&#1089;&#1089;&#1077;&#1081;&#1085; &#1089; &#1089; 8.30 &#1076;&#1086; 10.00
              li.single-room__included-item
                .list-style
                | &#1047;&#1072;&#1074;&#1090;&#1088;&#1072;&#1082; &#1080; &#1086;&#1073;&#1077;&#1076; &#171;&#1096;&#1074;&#1077;&#1076;&#1089;&#1082;&#1080;&#1081; &#1089;&#1090;&#1086;&#1083;&#187;
      button.btn.btn--orange
        | &#1047;&#1072;&#1073;&#1088;&#1086;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;
      .single-room__price
        | &#1054;&#1058;
        span
          | 3400
        | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
    section.rooms
      ul.rooms__list
        li.offer.rooms__item
          a.offer__link(href="")
            img.offer__img(src="img/standard-room.jpg")
            .offer__wrapper-price
              h2
                | &#1057;&#1090;&#1072;&#1085;&#1076;&#1072;&#1088;&#1090;
              .offer__price
                | &#1054;&#1058;
                span
                  | 4000
                | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
        li.offer.rooms__item
          a.offer__link(href="")
            img.offer__img(src="img/standard-plus-room.jpg")
            .offer__wrapper-price
              h2
                | &#1057;&#1090;&#1072;&#1085;&#1076;&#1072;&#1088;&#1090; +
              .offer__price
                | &#1054;&#1058;
                span
                  | 4500
                | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
        li.offer.rooms__item.rooms__item--hidden
          a.offer__link(href="")
            img.offer__img(src="img/standard-room.jpg")
            .offer__wrapper-price
              h2
                | &#1051;&#1102;&#1082;&#1089;
              .offer__price
                | &#1054;&#1058;
                span
                  | 5700
                | &#1056;&#1059;&#1041;./&#1057;&#1059;&#1058;&#1050;&#1048;
    include ./jade/footer.jade
    .img-fullscreen
      img(src="")
      .img-fullscreen__close