.date-of-rest{

	padding: 50px 0;
	background: @gray-light;

	&__container{

		@media (min-width: 320px){

			display: flex;
			flex-direction: column;
			align-items: center;
		}

		@media (min-width: 768px){

			flex-direction: row;
			justify-content: center;
		}

		@media (min-width: 1200px){

			align-items: flex-start;
			width: 380px;
			height: 135px;
			margin-top: 25px;
			background: #fff;
		}
	}

	&__arrival,
	&__departure{

		@media (min-width: 320px){

			display: flex;
			flex-direction: column;
			align-items: center;
			padding-top: 35px;
		}

		@media (min-width: 768px){

			margin: 0 10px;
		}

		@media (min-width: 1200px){

			padding-top: 23px;
		}

		& label{

			font-family: @fira-sans;
			font-weight: 500;
			font-style: normal;
			font-size: @text-size-small;
			letter-spacing: 0.06em;
			color: @gray-dark;
			text-transform: uppercase;

			margin-bottom: 15px;
		}
	}

	&__inputs{

		display: flex;
		justify-content: center;
		border: 1px solid @border-color;

		&-day,
		&-month,
		&-year{

			@media (min-width: 320px){

				height: 55px;
				padding: 16px 0;
			}

			@media (min-width: 1200px){

				height: 22px;
				padding: 0;
			}
		}

		&-day,
		&-month{

			@media (min-width: 320px){

				width: 55px;
				border-right: 1px solid @border-color;
			}

			@media (min-width: 1200px){

				width: 40px;
			}
		}

		&-year{

			@media (min-width: 320px){

				width: 70px;
			}

			@media (min-width: 1200px){

				width: 50px;
			}
		}
	}
}


