*{

	box-sizing: border-box;
}

body{

	width: 100%;
}

img{

	//width: 100%;
	//height: 100%;
}

body,
h1,
h2,
h3,
h4,
p,
ul,
li,
img,
input,
button{

	margin: 0;
	padding: 0;
	border: none;
	list-style-type: none;
}

a,
a:hover,
a:active,
a:visited,
a:link{

	text-decoration: none;
}

blockquote{

	border: 0;
	margin: 0;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
}

button{

	padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
    -moz-appearance: textfield;
}