.main-form{


}

.reservation,
.date-of-rest,
.place-to-stay,
.type-of-room,
.type-of-cottage,
.personal-data,
.payment,
.form-reservation{

	display: flex;
	flex-direction: column;
	align-items: center;

	&__title{

		font-family: @serif;
		font-size: @text-size-h2;
		font-weight: 400;
		font-style: normal;
		color: @gray-darker;
	}

	& input{

		text-align: center;
		font-family: @fira-sans;
		font-weight: 500;
		font-style: normal;
		font-size: @text-size-small;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		color: @gray;

		&:focus::-webkit-input-placeholder{color: transparent;}
		&:focus::-moz-placeholder{color: transparent;}
		&:focus:-moz-placeholder{color: transparent;}
		&:focus:-ms-input-placeholder{color: transparent;}

		&:focus{

			outline: none;
			border-color: @gray;
		}
	}
}


/*
	font-family: @fira-sans;
	font-weight: 500;
	font-style: normal;
	font-size: @text-size-small;
	letter-spacing: 0.06em;
	color: @gray;
	text-transform: uppercase;
*/