.main-logo{

	display: flex;
	justify-content: space-between;
	width: 145px;
	color: @blue;
	font-size: 15px;
	font-family: 'PT Serif', serif;
	font-weight: 400;
	font-style: normal;
	font-size: @text-size-logo;
	text-transform: uppercase;
	letter-spacing: 0.04em;

	& span{

		text-align: center;
	}
}