.reservation-form-btn{

	display: flex;
	flex-direction: column;
	align-items: center;
	background: @gray-light;

	@media (min-width: 320px){

		padding-bottom: 80px;
	}

	@media (min-width: 768px){

		padding-bottom: 75px;
	}

	& button{

		height: 50px;
		background: @green;
		font-family: @fira-sans;
		font-weight: 500;
		font-style: normal;
		font-size: @text-size-small;
		letter-spacing: 0.06em;
		color: @gray-lighter;
		text-transform: uppercase;

		&:hover{

			background: @green-dark;
		}

		@media (min-width: 320px){

			width: 278px;
		}

		@media (min-width: 768px){

			width: 100%;
		}

		@media (min-width: 1200px){

			width: 780px;
		}
	}
}