.reviews{

	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	background-color: @blue;
	background-image: url('/../../img/reviews.jpg');
	background-repeat: no-repeat;

	@media (min-width: 320px){

			background-image: url('/../../img/reviews-320.jpg');
			background-position: center center;
	}


	&__title{

		color: @gray-lighter;

		@media (min-width: 320px){

			margin-top: 70px;
			font-family: 'PT Serif Caption', serif;
			font-weight: 400;
			font-style: normal;
			font-size: @text-size-h2;
		}
	}


	&__list{

		//padding-top: 26px;

		@media (min-width: 320px){

			width: 100%;
		}

		@media (min-width: 768px){

			width: 63%;
		}

		@media (min-width: 1200px){

			width: 78%;
		}
	}

	&__showed{

		@media (min-width: 320px){

			margin-top: 50px;
			width: 100%;
		}

		@media (min-width: 768px){

			display: flex;
			justify-content: center;
		}

		@media (min-width: 768px){

			display: flex;
			flex-direction: column;
			align-items: center;
		}
	}

	&__blockquote{

		width: 100%;
		background-color: @gray-lighter;
		font-size: @text-size-p;
		color: @gray-darker;

		@media (min-width: 320px){

			display: none;
		}

		@media (min-width: 768px){

			display: flex;
			flex-direction: column;
			align-items: center;
			margin-top: 50px;
		}

		@media (min-width: 1200px){

			//
		}

		& p{

			text-align: center;
		}

		&--first{

			@media (max-width: 768px){

				display: flex;
				flex-direction: column;
				align-items: center;
				width: 200%;
			}
		}
	}

	&__avatar{

		position: relative;
		width: 78px;
		//height: 77px;
		//margin-bottom: 8px;

		& img{

			position: absolute;
			top: -23px;
			width: 78px;
			height: 77px;
			border: 1px solid @gray-lighter;

		}
	}

	&__name{

		padding-top: 70px;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 500;
		font-style: normal;
		font-size: @text-size-small;
	}

	&__text{

			margin: 0 40px 20px;
			font-family: 'Fira Sans', sans-serif;
			font-weight: 400;
			font-style: normal;
			font-size: @text-size-p;
	}

	&__date{

		margin-bottom: 25px;
		color: @gray-darker;
		font-family: 'Fira Sans', sans-serif;
		font-weight: 400;
		font-style: normal;
		font-size: @text-size-p;
		line-height: 1,1;
	}

	&__social{

		margin: 10px 0;
	}

	&__prev,
	&__next{

		position: absolute;
		top: 50%;
		width: 25px;
		height: 25px;
		border-bottom: 3px solid @gray-lighter;

		@media (min-width: 320px){

			display: none;
		}

		@media (min-width: 1200px){

			display: block;
		}
	}

	&__prev{

		left: 10%;
		border-left: 3px solid @gray-lighter;
		transform: rotate(45deg);

	}

	&__next{

		right: 10%;
		border-right: 3px solid @gray-lighter;
		transform: rotate(-45deg);
	}
}


.btn-blue{

	width: 140px;
	height: 30px;
	margin: 35px 0 45px;
	background-color: @blue;
	border: 2px solid @gray-lighter;
	border-radius: 70px;
	color: @gray-lighter;
}
