.reviews{

	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	width: 100%;
	background-color: @blue;
	background-image: url('/../../img/reviews.jpg');

	@media (min-width: 320px) {

			height: 615px;
			//padding: 70px 0 50px;
	}


	&__title{

		color: @gray-lighter;

		@media (min-width: 320px) {

			margin-top: 70px;
			font-family: @serif-caption;
			font-size: @text-size-h2;
		}
	}


	&__list{

		@media (min-width: 320px) {

			width: 100%;
			height: 395px;
			overflow: hidden;
			margin-bottom: 40px;
		}

		@media (min-width: 768px) {

			width: 63%;
		}

		@media (min-width: 1200px) {

			width: 78%;
		}
	}

	&__showed{

		@media (min-width: 320px) {

			width: 100%;
			height: 340px;
			margin-top: 55px;

			&:nth-child(2){

				display: none;
			}
		}

		@media (min-width: 768px) {

			display: flex;
			flex-direction: row;
			justify-content: center;
			align-items: center;
		}

	}

	&__blockquote{

		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 0 40px 25px;
		background-color: @gray-lighter;
		font-size: @text-size-p;
		color: @gray-darker;

		@media (min-width: 320px) {

			width: 100%;
		}

		& p{

			text-align: center;
			margin-bottom: 15px;
		}
	}

	&__avatar{

		width: 78px;
		margin-top: -22px;
		border: 1px solid @gray-lighter;
	}

	&__name{

		margin-top: 10px;
		font-family: @fira-sans-medium;
		font-size: @text-size-small;
	}

	&__date{

		color: @gray-darker;
		font-family: @fira-sans-regular;
		font-size: @text-size-p;
	}

	&__social{

		margin: 3px 0;
	}

	&__prev{

		position: absolute;
		top: 50%;
		left: 10%;
		width: 25px;
		height: 25px;
		border-left: 3px solid @gray-lighter;
		border-bottom: 3px solid @gray-lighter;
		transform: rotate(45deg);
	}

	&__next{

		position: absolute;
		top: 50%;
		right: 10%;
		width: 25px;
		height: 25px;
		border-right: 3px solid @gray-lighter;
		border-bottom: 3px solid @gray-lighter;
		transform: rotate(-45deg);
	}
}


.btn-blue{

	width: 200px;
	padding: 10px 15px 10px 35px;
	background-color: @blue;
	border: 1px solid @gray-lighter;
	border-radius: 70px;
	color: @gray-lighter;
}
